<link rel="stylesheet" href="/css/placed.css">
<div id="tick-container">
    <img id="tick" src="/images/tick.gif" alt="" width="100" height="100" class="img" />

</div>

<section id="banner">
    <img id="img" src="/images/tick.gif" alt="" width="100" height="100" class="img" />
    <h2 style="display: block; margin-left: 38%;">Order Placed Successful!</h2>
    <button onclick="window.location.href='/order'" class="button">Track Order</button>
    <button onclick="window.location.href='/'" class="home">Home</button>
</section>


<script src="/javascript/placed.js"></script>