<section>
    <div class="container">
        <form action="" id="checkout-form"></form>
        <div class="row">
            <div class="col-sm-8" style="margin-top: 50px;">
                <h2>Enter Delivery Details</h2>
                <hr>
                
                    <p style="font-size: 20px;">
                        <label for="">Address</label>
                    </p>
                    <textarea name="address" id="address" cols="50" rows="5"></textarea>
                    <p style="font-size: 20px;">
                        <label for="">Pincode</label>
                    </p>
                    <input type="text" inputmode="numeric"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="6">
                    <p style="font-size: 20px;">
                        <label for="">Mobile</label>
                    </p>
                    <input type="text" inputmode="numeric"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="10">
                
            </div>
            <div class="col-sm-4 rounded p-4" style="border: 1px solid black; margin-top: 120px; display: inline-block;">
                <h2>Total Amount : 5000</h2>
                <hr>
                <p>Payment Method</p>
                    <label class="radio-inline">
                        <input type="radio" name="payment-method" value="COD" checked>COD
                    </label>
                    <br>
                    <label class="radio-inline">
                        <input type="radio" name="payment-method" value="ONLINE" checked>Online Payment
                    </label>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary float-right">Checkout</button>

                <br>
            </div>
        </div>
        </form>
    </div>
</section>
